@use "../../../shared/styles/palette";
@use "../../../shared/styles/mixins";

.card {
  background-color: white;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.049);
  cursor: pointer;
  transition: all 0.4s;
  width: 24rem;
  height: 4.5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;

  @include mixins.respond(Phone) {
    max-width: 100%;
    background-color: white;
    box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.049);
    height: 4.5rem;
    padding: 0.2rem;
    box-shadow: none;
    justify-content: space-between;
  }

  &:hover {
    transform: scale(1.02);
  }

  &__img {
    width: 8rem;
    height: 5rem;

    @include mixins.respond(Phone) {
      width: 7rem;
    height: 3.5rem;
    }
  }

  &__information {
    @include mixins.respond(Phone) {
      padding: 0.5rem;
    }

    &__header {
      &__heading {
        font-size: 1rem;

        @include mixins.respond(Phone) {
          font-size: 0.8rem;
        }
      }

      @include mixins.respond(Phone) {
        flex-direction: column;
        gap: 0;
      }

      &__sets {
         margin: 0 auto;
        color: grey;
        font-weight: 600;
        font-size: 1rem;
        span{
          display: inline-block;
        }
        @include mixins.respond(Phone) {
          font-size: 0.8rem;
          // margin-right: 6rem;
          width: max-content;
        }
      }
    }
  }

  &__icon {
    @include mixins.respond(Phone) {
      margin-left: 0;
    }

    span {
      font-size: 2rem;
      color: palette.$main-blue-color;
      transition: all 0.2s;

      &:hover {
        transform: scale(1.2);
      }

      @include mixins.respond(Phone) {
        font-size: 1.7rem;
      }
    }
  }
}