@use "../../../shared/styles/palette";
@use "../../../shared//styles/mixins";

.input-container {

    &__text {
        color: palette.$main-blue-darker-color;
        font-weight: 650;
        margin-bottom: 0.2rem;
    }

    &__input {
        background-color: palette.$main-background-color;
        border-bottom: palette.$main-blue-darker-color 0.3rem solid;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        font-size: 0.8rem;
        width: 16rem;
        height: 2.5rem;
        margin: 0.2rem;
        padding-left: 0.4rem;
        color: palette.$main-blue-darker-color;

        @include mixins.respond(Phone) {
            background-color: white;
            font-size: 0.6rem;
        }
    }
}

.required-label::after {
  content: "*";
  display: inline;
  color: palette.$main-form-error-message;
}

::-webkit-file-upload-button {
    display: none;
}
