@use "../../../shared/styles/palette";

.input-container {

    &__text {
        color: palette.$main-blue-darker-color;
        font-weight: 650;
        margin-bottom: 0.2rem;
    }

    &__input {
        background-color: palette.$main-background-color;
        border-bottom: palette.$main-blue-darker-color 0.3rem solid;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        height: 2.5rem;
        font-size: 0.8rem;
        padding: 0 0rem 0 0.4rem;
        color: palette.$main-blue-darker-color;
    }
}

@media (width < 700px) {

    .input-container__input {
        background-color: white;
        font-size: 0.6rem;
    }
}

::-webkit-file-upload-button {
    display: none;
}