@import '../../../../shared/styles/palette';

.search__feature {
    // width: fit-content;
    justify-content: space-between;

    &__container {
        position: relative;
        // width: 20rem;
        width: 100%;
    }

    &__input {
        all: unset;
        
        background-color: #fff;
        border-radius: .3rem;
        width: 95%;
        padding: 0.4rem;
    }

    &__search__icon {
        position: absolute;
        font-size: 1.3rem;
        right: 5%;
        color: $main-blue-color;
    }

    &__filter__icon {
        font-size: 1.8rem;
        color: $main-blue-color;
    }
}

@media(max-width: 600px) {
    .search__feature {
        width: 100%;
    }
}

@media(min-width: 601px) {
    .search__feature {
        width: 15rem;
    }
}