<!-- pb-5 is put for development purposes. will see if it will remain like so -->
<section class="search__feature d-flex align-items-center g-3 pb-5">
    <section class="search__feature__container d-flex">
        <input class="search__feature__input" type="search" placeholder="Search..." aria-placeholder="">
        <span class="material-symbols-outlined search__feature__search__icon align-self-center">search</span>
    </section>

    <span (click)=filterHandler() class="material-symbols-outlined search__feature__filter__icon">filter_alt</span>

    <form class="search__feature__filter__form">
        <div class="search__feature__filter__form__option d-flex">
            <input type="checkbox">
            <label>Gym</label>
        </div>

        <div class="search__feature__filter__form__option d-flex">
            <input type="checkbox">
            <label for="">Back</label>
        </div>
    </form>

</section>