<div class="profile-container__inputs-flex-container pt-2 d-flex align-items-center flex-direction-column">
    <div class="profile-container__inputs-flex-container-first-item text-center">
        <h2 class="m-0">Personal Information</h2>
    </div>

    <div class="profile-container__inputs-flex-container-input-item d-flex align-items-center justify-content-center">
        <div class="profile-container__inputs-flex-container-input-item__input-container">
            <app-input label="Last Name" [type]="InputType.Text" value="{{userData.lastName}}" placeholder="Last Name" [textColor]="'main-text-color'"
                [backgroundColor]="'white'"></app-input>
        </div>
        <div class="profile-container__inputs-flex-container-input-item__input-container">
            <app-input label="First Name" [type]="InputType.Text" value="{{userData.firstName}}" placeholder="First Name"
                [textColor]="'main-text-color'" [backgroundColor]="'white'"></app-input>
        </div>
    </div>
    <div
      class="profile-container__inputs-flex-container-input-item__input-container"
    >
      <div class="control__wrapper">
        <label for="firstName" class="control__label">First Name</label>
        <input [type]="InputType.Text" id="firstName" value={{userData.firstName}} placeholder="First Name" name="firstName" class="control w-100 d-block align-items-start">
      </div>
    </div>
  </div>

    <div class="profile-container__inputs-flex-container-input-item d-flex align-items-center justify-content-center">

        <div class="profile-container__inputs-flex-container-input-item__input-container"> <app-input
                label="Date of Birth" [type]="InputType.Text" placeholder="Date of Birth"
                [textColor]="'main-text-color'" [backgroundColor]="'white'"></app-input> </div>
        <div class="profile-container__inputs-flex-container-input-item__input-container"> <app-input label="Email" [type]="InputType.Text" value="{{userData.email}}" placeholder="Email"
                [textColor]="'main-text-color'" [backgroundColor]="'white'"></app-input> </div>
    </div>

    <div class="profile-container__inputs-flex-container-input-item d-flex align-items-center justify-content-center">
        <div class="profile-container__inputs-flex-container-input-item__input-container"> <app-input label="Weight Goal" [type]="InputType.Text" placeholder="Weight Goal"
                [textColor]="'main-text-color'" [backgroundColor]="'white'"></app-input></div>
        <div class="profile-container__inputs-flex-container-input-item__input-container"> <app-input label="Weight" [type]="InputType.Text" placeholder="Weight"
                [textColor]="'main-text-color'" [backgroundColor]="'white'"></app-input></div>
    </div>

    <div class="profile-container__inputs-flex-container-last-item align-self-center text-center mt-4">
        <app-button (click)="handleEdit()" text="Edit" padding="0.5rem 5.5rem" [hoverTextColor]="'main-blue-darker-color'"
            [hoverBackgroundColor]="'white'" [showBorderOnHover]="true" [hoverBorderColor]="'main-blue-darker-color'"
            [width]="'auto'">
        </app-button>
    </div>
</div>