@use "../../../shared/styles/palette";

.register-container {
    height: 100vh;
    font-family: 'Open Sans', sans-serif
}

.register-form {
    background-color: rgb(255, 255, 255);
    padding: 5rem 6rem 8rem 6rem;
    border-bottom: 0.5rem solid palette.$main-blue-darker-color;
    box-shadow: 0 1rem 1rem rgba($color: black, $alpha: 0.15);
    max-width: 60vw;

    &__heading-box {
        text-align: center;

        &-text {
            color: palette.$main-blue-darker-color;
            font-size: 2.8rem;
            margin-bottom: -0.6rem;
        }

        &-border {
            display: inline-block;
            border-bottom: palette.$main-blue-darker-color 0.3rem solid;
            width: 3rem;
        }
    }

    &__details-container__heading-container__label {
        color:palette.$main-blue-darker-color;
        font-size: 1.2rem;
        font-weight: bold;
    }

    &__general-details__input-field {
        min-width: 35%;
        flex: 1 0;
    }


    &__links {
        gap: 0.1rem;
        text-align: center;

        &-text {
            transition: all 0.4s;

            &:link,
            &:visited {
                color: palette.$main-blue-darker-color;
                text-decoration: none;
                font-weight: 700;
                font-size: 0.8rem;
            }

            &:hover {
                transform: scale(1.03);
            }

            &:active {
                transform: translate(0);
            }
        }
    }
}
