<app-loader *ngIf="isLoading"></app-loader>
<div
  class="exercise-container d-flex align-items-center justify-content-center"
>
  <form
    class="exercise-form d-flex flex-direction-column mw-100"
    [formGroup]="exerciseForm"
    (ngSubmit)="create()"
  >
    <div class="exercise-form__heading-box mb-5 text-center">
      <h1 class="exercise-form__heading-box-text mt-0">{{ isEditMode ? 'Update Exercise' : 'Create Exercise' }}</h1>
      <div class="exercise-form__heading-box-border d-inline-block"></div>
    </div>
    <div class="exercise-form__elements">
      <div class="exercise-form__elements__inputs d-flex g-6 mb-2">
        <div class="control__wrapper w-100">
          <label for="name" class="control__label required w-100">New Exercise</label>
          <input
            [type]="InputType.Text"
            id="name"
            placeholder="New Exercise"
            formControlName="title"
            name="name"
            class="control w-100 d-block align-items-start"
          />
          <ng-container *ngIf="exerciseForm.get('title')?.touched">
            <p *ngIf="exerciseForm.get('title')?.errors">Invalid field</p>
          </ng-container>
        </div>
        <div
          class="control__wrapper w-100 exercise-form__elements__custom-button"
        >
          <label for="thumb" class="control__label required">Gif/Video</label>
          <input
            [disabled]="isEditMode"
            type="file"
            id="thumb"
            placeholder="Gif/Video"
            name="thumbUri"
            (change)="onImageUpload($event)"
            class="control w-100 d-block align-items-start"
          />
          <ng-container *ngIf="exerciseForm.get('thumbUri')?.touched">
            <p *ngIf="exerciseForm.get('thumbUri')?.errors">Invalid field</p>
          </ng-container>
        </div>
      </div>
      <div class="exercise-form__elements__inputs d-flex g-6 mb-2">
        <div class="control__wrapper w-100">
          <label for="difficulty" class="control__label required">Difficulty</label>
          <select
            id="difficulty"
            formControlName="difficulty"
            class="control w-100 d-block"
          >
            <option
              class="control__option"
              *ngFor="let option of difficultyArr"
              [value]="option[1]"
            >
              {{ option[0] }}
            </option>
          </select>
        </div>
        <div class="control__wrapper w-100">
          <label for="equipment" class="control__label required">Equipment</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Equipment'"
            [settings]="equipmentSettings"
            [data]="(equipmentList$ | async) ?? []"
            class="custom-dropdown"
            (onSelect)="onEqipmentItemSelect($event)"
            (onSelectAll)="onEquipmentSelectAll($event)"
            (onDeSelect)="onEquipmentDeselect($event)"
            (onDeSelectAll)="onEquipmentDeselectAll()"
            [formControlName]="'equipmentIds'"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
      <div class="exercise-form__elements__inputs d-flex g-6 mb-2">
        <div class="control__wrapper w-100">
          <label for="tag" class="control__label required">Tag</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Tags'"
            [settings]="tagSettings"
            [data]="(tagList$ | async) ?? []"
            class="custom-dropdown"
            (onSelect)="onTagItemSelect($event)"
            (onSelectAll)="onTagSelectAll($event)"
            (onDeSelect)="onTagDeselect($event)"
            (onDeSelectAll)="onTagDeselectAll()"
            [formControlName]="'tagIds'"
          >
          </ng-multiselect-dropdown>
        </div>
        <div
          class="control__wrapper w-100 exercise-form__elements__inputs__description"
        >
          <label for="description" class="control__label required">Description</label>
          <input
            [type]="InputType.Text"
            id="description"
            placeholder="Description"
            formControlName="description"
            name="description"
            class="control w-100 d-block align-items-start"
          />
          <ng-container *ngIf="exerciseForm.get('description')?.touched">
            <p *ngIf="exerciseForm.get('description')?.errors">Invalid field</p>
          </ng-container>
        </div>
      </div>
      <div
        class="exercise-form__elements__buttons mt-6 justify-content-center d-flex g-4 flex-wrap"
      >
        <button type="button" class="btn btn-large" (click)="goBack()">Cancel</button>
        <button type="submit" class="btn btn-large" [disabled]="exerciseForm.invalid">{{ isEditMode ? 'Edit' : 'Create' }}</button>
      </div>
      <app-error
        *ngIf="hasExerciseError"
        [errorMessageText]="createExerciseErrorMsg"
      ></app-error>
    </div>
    <div class="exercise-form__links d-flex flex-direction-column"></div>
  </form>
</div>
