@use "../../../shared/styles/palette";
@use "../../../shared/styles/mixins";

.exercise-form {
  background-color: palette.$main-font-white-color;
  padding: 4.5rem 6rem 2rem 6rem;
  border-bottom: 0.5rem solid palette.$main-blue-darker-color;
  box-shadow: 0 1rem 1rem rgba($color: black, $alpha: 0.15);

  @include mixins.respond(Phone) {
    background-color: palette.$main-background-color;
    padding: 0;
    box-shadow: none;
    border-bottom: none;
  }

  &__heading-box {
    &-text {
      color: palette.$main-blue-darker-color;
      font-size: 2.8rem;
      margin-bottom: -0.6rem;
    }

    &-border {
      border-bottom: palette.$main-blue-darker-color 0.3rem solid;
      width: 7rem;
    }
  }

  &__elements {
    &__inputs {
      @include mixins.respond(Phone) {
        flex-direction: column;
        gap: 0.8rem;
      }

      input {
        @include mixins.respond(Phone) {
          width: 97%;
        }
      }

      select {
        @include mixins.respond(Phone) {
          width: 98.6%;
        }
      }

      &__description {
        input {
          @include mixins.respond(Phone) {
            padding-bottom: 2rem;
          }
        }
      }
    }

    &__custom-button {
      position: relative;

      input::file-selector-button {
        font-weight: bold;
        color: rgb(255, 255, 255);
        padding: 0.3rem 0.8rem 0.3rem 0.8rem;
        border: none;
        border-radius: 1px;
        background-color: palette.$main-blue-darker-color;
        font-size: 0.7rem;
        margin-top: 0.6rem;
        cursor: pointer;
      }
    }
  }
}

.custom-dropdown .multiselect-dropdown .dropdown-btn {
  background-color: palette.$main-background-color; /* Custom background color for the dropdown button */
  color: palette.$main-blue-darker-color; /* Custom text color */
  border: 0 !important;
  padding-right: 0 !important; /* Custom padding */
  margin-top: 0.2rem !important;
  border-radius: 0 !important;
  border-bottom: 0.3rem solid palette.$main-blue-darker-color !important;
  padding: 0.6rem 0.6rem !important;
  font-size: 0.8rem !important;
}

.custom-dropdown .multiselect-dropdown {
  width: 92% !important;
}

.custom-dropdown .multiselect-dropdown .dropdown-btn .selected-item {
  background-color: palette.$main-blue-darker-color !important;
}

.custom-dropdown
  .multiselect-dropdown
  .dropdown-btn
  span
  .dropdown-multiselect__caret {
  padding: 0 !important ;
  border-color: #ff1c1c transparent !important;
  top: 10% !important;
  left: 89% !important;
}

.custom-dropdown .multiselect-dropdown .dropdown-list {
  background-color: palette.$main-background-color;
  padding-top: 0 !important ;
  border-radius: 0 !important;
  color: palette.$main-blue-darker-color;
}
