<footer class="menu__container">
    <ul *ngIf="isAuth" class="d-flex justify-content-between align-items-center menu__container__navigation">

        <li class="menu__container__navigation__item p-2">
            <a class="menu__container__navigation__link g-5" href=""><span class="material-symbols-outlined menu__container__navigation__icon">fitness_center</span>
            Workouts</a>
        </li>

        <li class="menu__container__navigation__item p-2">
            <a class="menu__container__navigation__link g-5" href=""><span class="material-symbols-outlined menu__container__navigation__icon">article</span>
            Exercises</a>
        </li>
        
        <li class="menu__container__navigation__item p-2">
            <a class="menu__container__navigation__link g-5" href="">
                <span class="material-symbols-outlined menu__container__navigation__icon">build</span>
            Builders</a>
        </li>

    </ul>
</footer>