@import '../../../shared/styles/palette';

.card {
    min-width: 19rem;
    border: 1px solid $main-blue-color;
    border-radius: 0.5rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(255, 255, 255, .65), rgba(255, 255, 255, .65)), url('../../../shared/assets/images/temporary-exercise-list-placeholder-img.png');

    &__tag {
        background-color: rgba(105, 105, 105, 0.6);
        padding: 0.2rem 1rem;
        border-radius: 0.2rem;
        font-weight: bold;
    }
}

.card__content__wrapper {
    height: 100%;
}

@media(max-width: 600px) {
    .card {
        width: 100%;

        &__text {
            font-size: 1.5rem;
        }

        &:last-child {
            margin-bottom: 5rem;
        }
    }
}