.landing-page-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../shared/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (width <=700px) {
    .landing-page-container__buttons-container {
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        margin-bottom: 4rem;
    }
}