.landing-page-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../shared/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__buttons-container {
        margin: 0 2rem;

        &-button {
            display: block;
            color: #000000;
            background-color: rgba(255, 255, 255, 0.589);
            padding: 0.5rem 4rem;
            border-radius: 0.5rem;
            margin-bottom: 10rem;
            box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.411);
            align-content: center;
        }
    }
}

.landing-page-container__buttons-container-button:hover {
    background-color: #000000a4;
    color: whitesmoke;
}

@media (width <=700px) {
    .landing-page-container__buttons-container {
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        margin-bottom: 4rem;

        &-button {
            font-size: 1.2rem;
            overflow: hidden;
            margin-bottom: 2rem;
            width: 80vw;
        }
    }
}