@use "../../shared/styles/mixins";
@import "../../shared/styles/mixins";

.main-page {
  display: flex;
  flex-direction: column;

  .main-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;

    @include mixins.respond(Phone) {
      background-color: #eceef3;
    }
  }

  .main-sidebar {
    @include mixins.respond(Phone) {
      order: 3;
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
    }
  }

  .main-body {
    order: 2;
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100vh;

    .main-content {
      max-width: 90.6rem; // 1400px;
      width: 90.6rem;
      margin: 2rem 0;
      margin-right: 10rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      overflow: hidden;

      @include mixins.respond(Phone) {
        margin: 2rem auto;
      }
    }
  }
}

/* Chat-specific styles */
.main-page.chat-active {
  .main-body {
    display: block; // Remove flex for chat
    .main-content {
      max-width: 89.3%; // 1400px;
      width: 88%;
      @include mixins.respond(Phone) {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
      }
      margin: 0; // Remove margin for chat
      padding-left: 0.5rem; // Adjust padding for chat
      padding-right: 0; // Remove padding for chat
      overflow: hidden;

      @include mixins.respond(Phone) {
        margin: 0; // Remove margin for chat on Phone
      }
    }
  }
}