@use "../../shared/styles/mixins";
@import "../../shared/styles/mixins";

.main-page {
  display: flex;
  flex-direction: column;

  .main-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;

    @include mixins.respond(Phone) {
      background-color: #eceef3;
    }
  }

  .main-sidebar {
    @include mixins.respond(Phone) {
      order: 3;
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
    }
  }

  .main-body {
    order: 2;
    //display: flex; //Remove for chat
    justify-content: center;
    flex: 1;
    height: 100vh;

    .main-content {
      max-width:89.3%; // 1400px;
      @include mixins.respond(Phone) {
        max-width: 100%;
        padding-left: 0;
       }
      //margin: 2rem 0; //Remove for chat
      //margin-right: 10rem;//Remove for chat
      padding-left: 0.5rem;//Remove for chat
      //padding-right: 1.5rem;//Remove for chat
      overflow: hidden;

      @include mixins.respond(Phone) {
        //margin: 2rem auto;
      }
    }
  }
}