.wrapper {
    padding: 2rem;
    margin: auto;
    height: 100vh;
}

@media(min-width: 671px) {
    app-exercise-list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-between;
    }
}

