@import '../../../shared/styles/palette';

.wrapper {
    height: 100vh;

    &__page__name {
        display: none;
    }
}

@media(min-width: 671px) {
    app-exercise-list {
        display: flex;
        flex-wrap: wrap;
        height: 30rem;
        gap: 0.5rem;
        max-width: 90%;
        overflow-y: scroll;  
    }

    app-exercise-library-search{
        max-width: 85%;
    }

    .wrapper__page__name {
        display: block;
        padding-bottom: 0.5rem;
    }
}

