<nav>
  <ul class="nav py-2 d-flex align-items-center justify-content-between">
    <h1 class="uppercase nav__header-mobile nav__logo ml-6">ath</h1>
    <h1 class="uppercase nav__header-desktop n nav__logo ml-6">athleans | fit</h1>

    <div *ngIf="isAuth">
      <div class="nav__mobile">
        <h3 class="menu-container">...</h3>
      </div>

      <div class="user-info__container">
        <h2 class="mr-5 ml-auto">{{ username || "" }}</h2>
        <h3 class="menu-container mr-6">|||</h3>
      </div>
    </div>
    <div *ngIf="!isAuth" class="btn-container mr-6">
      <a class="btn-container__link" href="">Register</a>
      <a class="btn-container__link ml-4" href="">Login</a>
    </div>
  </ul>
</nav>
