@use '../../../shared/styles/palette';
@use '../../../shared/styles/variables';
@use '../../../shared/styles/mixins';

.nav {
    background-color: palette.$main-blue-color;

    @include mixins.respond(Phone) {
        background-color: palette.$main-background-color;
        color: palette.$main-font-white-color;
    }

    &__logo {
        color: palette.$main-blue-darker-color;
        font-size: 2rem;
    }

    &__header-desktop {
        display: inline-block;
        color: palette.$main-font-white-color;

        @include mixins.respond(Phone) {
            display: none;
        }
    }

    &__header-mobile {
        display: none;

        @include mixins.respond(Phone) {
            display: inline-block;
        }
    }

    &__mobile {
        display: none;

        @include mixins.respond(Phone) {
            display: inline-block;
            margin: 0 1rem;
        }
    }

    .user-info__container {
        display: flex;
        color: palette.$main-font-white-color;

        @include mixins.respond(Phone) {
            display: none;
        }
    }

    .btn-container {
        color: palette.$main-font-white-color;

        @include mixins.respond(Phone) {
            color: palette.$main-font-black-color;
        }

        &__link {
            font-size: 1.2rem;
            transition: all 0.4s;

            &:hover,
            &:active {
                color: palette.$main-blue-darker-color;
            }
        }

    }

    .menu-container {
        transform: rotate(90deg);
        font-size: 1rem;
    }
}