<nav>
  <ul class="nav py-2 d-flex align-items-center justify-content-between">
    <h1 routerLink="home" class="uppercase nav__header-mobile nav__logo ml-6">
      ath
    </h1>
    <h1
      routerLink="home"
      class="uppercase nav__header-desktop n nav__logo ml-6"
    >
      athleans | fit
    </h1>

    <div *ngIf="isAuth$ | async">
      <div class="nav__mobile">
        <h3 class="menu-container" (click)="toggleDropdown()">...</h3>
      </div>

      <div class="user-info__container" *ngIf="userInfo$ | async as user">
        <h2 class="mr-5 ml-auto">{{ user.username }}</h2>
        <h3 class="menu-container mr-6" (click)="toggleDropdown()">|||</h3>
      </div>

      <div class="dropdown" *ngIf="showDropdown">
        <button (click)="onLogout()">Logout</button>
      </div>
    </div>
    <div *ngIf="!(isAuth$ | async)" class="btn-container mr-6">
      <a class="btn-container__link" routerLink="/register">Register</a>
      <a class="btn-container__link ml-4" routerLink="/login">Login</a>
    </div>
  </ul>
</nav>
