@use "../../../styles/palette";

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  max-height: inherit;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  --_m:
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
