<div class="workout-details-header d-flex mb-6 justify-content-between hidden">
  <h1 class="workout-details-header__h1">{{ workoutName }}</h1>
  <div class="workout-details-header__btn-desktop">
    <button
      class="btn btn-begin btn-medium btn-full-width-mobile"
      (click)="navigateToSession()"
    >
      BEGIN WORKOUT
    </button>
  </div>
</div>

<div class="workout-details-cards d-flex flex-direction-column g-4">
  <ng-container *ngFor="let exercise of exercises">
    <app-exercise-set-card
      [numberOfSets]="numberOfSets ?? 0"
      (click)="navigateToDetails(exercise?.exerciseId || 0, exercise?.uid || 0)"
      [exercise]="exercise"
    ></app-exercise-set-card>
  </ng-container>
</div>

<div class="workout-details-header__btn-mobile mb-10">
  <button class="btn w-100" (click)="navigateToSession()">BEGIN WORKOUT</button>
</div>
