<div class="workout-details-header d-flex mb-6 justify-content-between hidden">
  <h1 class="workout-details-header__h1">{{ workoutName }}</h1>
  <div class="workout-details-header__btn-desktop">
    <button class="btn btn-begin btn-medium">
      BEGIN WORKOUT
    </button>
  </div>
</div>

<div class="workout-details-cards d-flex flex-direction-column g-4">
  <app-exercise-set-card (click)="navigateToDetails()"></app-exercise-set-card>
  <app-exercise-set-card (click)="navigateToDetails()"></app-exercise-set-card>
  <app-exercise-set-card></app-exercise-set-card>
  <app-exercise-set-card></app-exercise-set-card>
  <app-exercise-set-card></app-exercise-set-card>
  <app-exercise-set-card></app-exercise-set-card>
  <app-exercise-set-card></app-exercise-set-card>
  <app-exercise-set-card></app-exercise-set-card>
  <app-exercise-set-card></app-exercise-set-card>
  <app-exercise-set-card></app-exercise-set-card>
</div>

<div class="workout-details-header__btn-mobile">
  <button class="btn w-100">
    BEGIN WORKOUT
  </button>
</div>
  
