<app-loader *ngIf="isLoading"></app-loader>
<h1 class="workout-library__header">{{ pageName }}</h1>
<app-workout-search
  [tags]="tags"
  [isLoadingSubject]="isLoadingSubject"
  [workoutsSubject]="itemsSubject"
  [selectedTagsSubject]="selectedTagsSubject"
></app-workout-search>
<div class="workout-library__cards-flex-container d-flex">
  <ng-container *ngFor="let workout of items$ | async">
    <app-workout-card
      [workout]="workout"
      [userWorkouts]="userWorkouts"
      (onItemRemoved)="ngOnInit()"
    ></app-workout-card>
  </ng-container>

  <div *ngIf="(items$ | async)?.length === 0" class="mb-10">
    <p class="mb-10">They are no workouts to show</p>
  </div>
</div>
