<h1 class="workout-library__header">{{pageName}}</h1>
<app-workout-search></app-workout-search>
<div class="workout-library__cards-flex-container d-flex">
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
</div>
