<div class="card-popular__container d-flex flex-direction-column">
    <img src="../../../shared/assets/images/danielle-cerullo-CQfNt66ttZM-unsplash.jpg" alt="img">

    <div class="card-popular__container__information-container d-flex align-items-center">
        <h2>Mihael Pavlov</h2>
        <div class="card-popular__container__information-container__star-container d-flex align-items-center justify-content-start">
            <span class="card-popular__container__information-container__star-container__star material-symbols-outlined">
                star
            </span>
            <p class="card-popular__container__information-container__star-container__star-text">4.0</p>
        </div>
    </div>
</div>