@use "../../../shared/styles/palette";
@use "../../../shared/styles/mixins";

.card-new__container {
  flex-direction: column;
  height: 15rem;
  width: 15rem;
  background-color: palette.$main-blue-darker-color;
  border-radius: 5px;
  img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  &__information-container {
    flex-basis: 40%;
    align-items: center;
    justify-content: space-around;
    h2{
        font-size: 1.2rem;
        color: white;
    }
    &__star-container {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      justify-content: start;
      span {
        color: rgb(255, 255, 109);
      }
      p {
        color:palette.$menu-container-navigation-item-background-color;
      }
    }
  }
}
