<div class="card-popular__container d-flex flex-direction-column" (click)="navigateToContributor()">
    <div class="card-popular__container__image-container">
      <img [src]="contributor?.profilePicture" alt="img">
    </div>
    <div class="card-popular__container__information-container d-flex align-items-center">
        <h2>{{ contributor?.firstName }} {{ contributor?.lastName }}</h2>
        <div class="card-popular__container__information-container__star-container d-flex align-items-center justify-content-start">
            <span class="card-popular__container__information-container__star-container__star material-symbols-outlined">
                star
            </span>
            <p class="card-popular__container__information-container__star-container__star-text">{{ contributor?.rating }}</p>
        </div>
    </div>
</div>
