<div class="login-container">
    <form class="login-form" action="">
        <div class="login-form__heading-box">
            <h1 class="login-form__heading-box-text">Log in</h1>
            <div class="login-form__heading-box-border"></div>
        </div>

        <div class="login-form__elements">

            <div class="login-form__elements__inputs">
                <app-input label="Email" type="email" placeholder="Email"></app-input>
                <app-input label="Password" type="password" placeholder="Password"></app-input>
            </div>

            <div class="login-form__elements__checkbox-field">
                <input class="login-form__elements__checkbox-field-box" type="checkbox" id="scales" name="scales" />
                <label class="login-form__elements__checkbox-field-text" for="scales">Show Password</label>
            </div>

            <div class="login-form__elements__buttons">
                <app-button></app-button>
            </div>
        </div>

        <div class="login-form__links">
            <a class="login-form__links-text" href="#">Forgot Username / Password?</a>
            <a class="login-form__links-text" href="#">Don't have an account? Sign up</a>
        </div>
    </form>
</div>