.login-container {
    height: 100vh;
    font-family: 'Open Sans', sans-serif
}

.login-form {
    background-color: rgb(255, 255, 255);
    padding: 5rem 6rem 8rem 6rem;
    border-bottom: 0.5rem solid #475f93;
    box-shadow: 0 1rem 1rem rgba($color: black, $alpha: 0.15);

    &__heading-box {
        text-align: center;
        margin-bottom: 1.5rem;

        &-text {
            color: #475f93;
            font-size: 2.8rem;
            margin-bottom: -0.6rem;
            margin-top: 0;
        }

        &-border {
            display: inline-block;
            border-bottom: #475f93 0.3rem solid;
            width: 3rem;
        }
    }

    &__elements {

        &__inputs {
            gap: 0.5rem;
        }

        &__checkbox-field {
            margin-top: 0.5rem;
            margin-bottom: 0.9rem;
            align-items: center;
            gap: 0.5rem;

            &-box {
                margin-left: 0;
                width: .9rem;
                height: .9rem;
            }

            &-text {
                font-size: 0.9rem;
            }
        }
    }

    &__links {
        gap: 0.1rem;
        text-align: center;

        &-text {
            transition: all .4s;

            &:link,
            &:visited {
                color: #475f93;
                text-decoration: none;
                font-weight: 700;
                font-size: 0.8rem;
            }

            &:hover {
                transform: scale(1.03);
            }

            &:active {
                transform: translate(0);
            }
        }
    }
}