@use "../../../shared/styles/palette";
@use "../../../shared/styles/mixins";

.login-container {
    height: 100vh;
    font-family: 'Open Sans', sans-serif
}

.login-form {
    background-color: rgb(255, 255, 255);
    padding: 5rem 6rem 8rem 6rem;
    border-bottom: 0.5rem solid palette.$main-blue-darker-color;
    box-shadow: 0 1rem 1rem rgba($color: black, $alpha: 0.15);

    @include mixins.respond(Phone) {
        background-color: palette.$main-background-color;
        box-shadow:none;
        border-bottom:none;
    }

    &__heading-box {
        text-align: center;

        &-text {
            color: palette.$main-blue-darker-color;
            font-size: 2.8rem;
            margin-bottom: -0.6rem;
        }

        &-border {
            display: inline-block;
            border-bottom: palette.$main-blue-darker-color 0.3rem solid;
            width: 3rem;
        }
    }

    &__elements {

        &__checkbox-field {
            margin-bottom: 0.9rem;

            &-box {
                width: 0.9rem;
                height: 0.9rem;
            }

            &-text {
                font-size: 0.9rem;
            }
        }
    }

    &__links {
        gap: 0.1rem;
        text-align: center;
    }
}
