@use "../../../shared/styles/palette";
@use "../../../shared/styles/mixins";

.card-container {
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.5rem;
    width: 23rem;
    padding-right: 1.15rem;
    padding-bottom: 0.6rem;
    padding-left: 1.15rem;
    cursor: pointer;
    overflow: hidden;

    @include mixins.respond(Phone) {
        width: 18rem;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(rgba(71, 95, 147, 0.3), rgba(71, 95, 147, 0.215)), var(--background-url);
        background-size: cover;
        background-position: center;
        z-index: -1;
        transition: all 0.4s;
    }

    &:hover::before {
        filter: blur(3px) brightness(80%);
        transform: scale(1.1);
    }

    &__add-btn {
        position: absolute;
        background-color: rgba(palette.$main-font-white-color, 0.843);
        top: 74%;
        left: 90%;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.4s;
        transform: scale(1.3);
        color: rgba(palette.$main-blue-darker-color, 0.686);

        &:hover {
            transform: scale(1.6);
            color: palette.$main-blue-color;
        }
    }

    &__workout-name {
        font-weight: 700;
        color: palette.$main-font-white-color;
        -webkit-text-stroke: 0.1px palette.$main-font-black-color;
        font-size: 1.4rem;
    }

    &__workout-trainer {
        font-weight: 700;
        color: palette.$main-font-white-color;
        -webkit-text-stroke: 0.1px palette.$main-font-black-color;
        font-size: 1.1rem;
        margin-bottom: -0.4rem;
    }

    &__difficulty {
        margin-bottom: -0.2rem;

        &-text {
            font-size: 0.8rem;
            color: palette.$main-font-white-color;
            -webkit-text-stroke: 0.2px palette.$main-font-black-color;
            font-weight: 700;
        }

        &-stars {
            color: palette.$main-font-white-color;
            transform: scale(0.9);
        }
    }

    &__tags {
        &-tag {
            background-color: palette.$main-blue-color;
            color: palette.$main-font-white-color;
            padding: 0.08rem 0.8rem;
            font-size: 1.2rem;
            border-radius: 0.2rem;
        }
    }
}