<div class="card-new__container d-flex">
    <img src="../../../shared/assets/images/danielle-cerullo-CQfNt66ttZM-unsplash.jpg" alt="img">

    <div class="card-new__container__information-container">
        <h2>Mihael Pavlov</h2>
        <div class="card-new__container__information-container__star-container d-flex">
            <span class="card-new__container__information-container__star-container__star material-symbols-outlined">
                star
            </span>
            <p class="card-new__container__information-container__star-container__star-text">4.0</p>
        </div>
        <div class="card-new__container__information-container__tag-container d-flex">
            <app-tag text="Gym"></app-tag>
            <app-tag text="Gym"></app-tag>
            <app-tag text="Gym"></app-tag>
        </div>
    </div>
</div>