<div class="card-new__container d-flex flex-direction-column" (click)="navigateToContributor()">
  <div class="card-new__container__image-container">
    <img [src]="contributor?.profilePicture" alt="img">
  </div>
    <div class="card-new__container__information-container">
        <h2>{{contributor?.firstName}} {{contributor?.lastName}}</h2>
        <div class="card-new__container__information-container__star-container d-flex align-items-center justify-content-start">
            <span class="card-new__container__information-container__star-container__star material-symbols-outlined">
                star
            </span>
            <p class="card-new__container__information-container__star-container__star-text">{{ contributor?.rating }}</p>
        </div>
        <div class="card-new__container__information-container__tag-container d-flex mb-4 justify-content-around">
            <app-tag text="Gym"></app-tag>
        </div>
    </div>
</div>
