<app-loader></app-loader>
<ng-container *ngIf="
    selectedRegistrationType === RegistrationType.User;
    else registerAsTrainer
  ">
  <ng-container *ngTemplateOutlet="registerAsUser"></ng-container>
</ng-container>

<ng-template #registerAsUser>
  <div class="register-container d-flex align-items-center justify-content-center">
    <form class="register-container__form w-100 d-flex flex-direction-column">
      <ng-container *ngTemplateOutlet="
          registerHeading;
          context: { headingText: 'Register as User' }
        "></ng-container>
      <ng-container *ngTemplateOutlet="generalDetails"></ng-container>
      <ng-container *ngTemplateOutlet="additionalUserDetails"></ng-container>
      <ng-container *ngTemplateOutlet="formFooter"></ng-container>
    </form>
  </div>
</ng-template>

<ng-template #registerAsTrainer>
  <div class="register-container d-flex align-items-center justify-content-center">
    <form class="register-container__form w-100 d-flex flex-direction-column">
      <ng-container *ngTemplateOutlet="
          registerHeading;
          context: { headingText: 'Register as Trainer' }
        "></ng-container>
      <ng-container *ngTemplateOutlet="generalDetails"></ng-container>
      <ng-container *ngTemplateOutlet="additionalTrainerDetails"></ng-container>
      <ng-container *ngTemplateOutlet="proofOfRightsDetails"></ng-container>
      <ng-container *ngTemplateOutlet="formFooter"></ng-container>
    </form>
  </div>
</ng-template>

<!-- Common header template -->
<ng-template #registerHeading let-headingText="headingText">
  <div class="register-container__form__heading-box mb-5">
    <h1 class="register-container__form__heading-box-text mt-0">{{ headingText }}</h1>
    <div class="register-container__form__heading-box-border"></div>
  </div>
</ng-template>

<!-- General details template -->
<ng-template #generalDetails>
  <div class="register-container__form__details-container">
    <div class="register-container__form__details-container__heading-container d-flex justify-content-between pb-5"
      (click)="generalDetailsVisibility()">
      <div class="register-container__form__details-container__heading-container__label d-flex">
        <ng-container *ngTemplateOutlet="backgroundSquare; context: { label: '1' }"></ng-container>
        <div>General Details</div>
      </div>
      <ng-container *ngTemplateOutlet="
          backgroundSquare;
          context: { label: showGeneralDetails ? '⬇' : '➡' }
        "></ng-container>
    </div>
    <div [class.expand]="showGeneralDetails"
      class="register-container__form__details-container__general-details d-flex justify-content-between">
      <app-input class="register-container__form__details-container__general-details__input-field" label="Username"
        [type]="InputType.Text" placeholder="Username" name="username"
        (valueChange)="handleInputChange('username', $event)">
      </app-input>
      <app-input class="register-container__form__details-container__general-details__input-field" label="Email"
        [type]="InputType.Text" placeholder="Email" name="email" (valueChange)="handleInputChange('email', $event)">
      </app-input>
      <app-input class="register-container__form__details-container__general-details__input-field" label="Password"
        [type]="InputType.Password" placeholder="Password" name="password" (valueChange)="handleInputChange('password', $event)">
      </app-input>
      <app-input class="register-container__form__details-container__general-details__input-field"
        label="Repeat Password" [type]="InputType.Password" placeholder="Repeat Password" name="repeatPassword" (valueChange)="handleInputChange('rePassword', $event)">
      </app-input>
    </div>
  </div>
</ng-template>

<!-- Additional details template for users -->
<ng-template #additionalUserDetails>
  <div class="register-container__form__details-container">
    <div class="register-container__form__details-container__heading-container d-flex justify-content-between pb-5 pt-2"
      (click)="additionalDetailsVisibility()">
      <div class="register-container__form__details-container__heading-container__label d-flex">
        <ng-container *ngTemplateOutlet="backgroundSquare; context: { label: '2' }"></ng-container>
        <div>Additional Details</div>
      </div>
      <ng-container *ngTemplateOutlet="
          backgroundSquare;
          context: { label: showAdditionalDetails ? '⬇' : '➡' }
        "></ng-container>
    </div>
    <div [class.expand]="showAdditionalDetails"
      class="register-container__form__details-container__general-details  d-flex justify-content-between">
      <app-select class="register-container__form__details-container__general-details__input-field"
        [options]="optionArrays.fitnessLevel" label="Fitness Level" name="fitnessLevel"
        (valueChange)="handleInputChange('fitness_level', $event)">
      </app-select>
      <app-select class="register-container__form__details-container__general-details__input-field"
        [options]="optionArrays.countryList" label="Country" name="country" (valueChange)="handleInputChange('country', $event)">
      </app-select>
      <app-select class="register-container__form__details-container__general-details__input-field"
        [options]="optionArrays.genderList" label="Sex" name="sex" (valueChange)="handleInputChange('sex', $event)">
      </app-select>
      <app-select class="register-container__form__details-container__general-details__input-field"
        [options]="optionArrays.preferredLanguage" label="Preferred Language" name="preferredLanguage" (valueChange)="handleInputChange('language', $event)">
      </app-select>
    </div>
  </div>
</ng-template>

<!-- Additional details template for trainers -->
<ng-template #additionalTrainerDetails>
  <div class="register-container__form__details-container">
    <div class="register-container__form__details-container__heading-container d-flex justify-content-between pb-5 pt-2"
      (click)="additionalDetailsVisibility()">
      <div class="register-container__form__details-container__heading-container__label d-flex">
        <ng-container *ngTemplateOutlet="backgroundSquare; context: { label: '2' }"></ng-container>
        <div>Additional Details</div>
      </div>
      <ng-container *ngTemplateOutlet="
          backgroundSquare;
          context: { label: showAdditionalDetails ? '⬇' : '➡' }
        "></ng-container>
    </div>
    <div [class.expand]="showAdditionalDetails" [class.expandDropdown]="showAdditionalDetails"
      class="register-container__form__details-container__general-details  d-flex justify-content-between">
      <app-input class="register-container__form__details-container__general-details__input-field" label="First Name"
        [type]="InputType.Text" placeholder="First Name" name="firstName" (valueChange)="handleInputChange('first_name', $event)">
      </app-input>
      <app-input class="register-container__form__details-container__general-details__input-field" label="Last Name"
        [type]="InputType.Text" placeholder="Last Name" name="lastName" (valueChange)="handleInputChange('last_name', $event)">
      </app-input>
      <app-select class="register-container__form__details-container__general-details__input-field"
        [options]="optionArrays.countryList" label="Country" name="country" (valueChange)="handleInputChange('country', $event)">
      </app-select>
      <app-select class="register-container__form__details-container__general-details__input-field"
        [options]="optionArrays.preferredLanguage" label="Preferred Language" name="preferredLanguage" (valueChange)="handleInputChange('language', $event)">
      </app-select>
      <app-input class="register-container__form__details-container__general-details__input-field" label="Phone Number"
        [type]="InputType.Text" placeholder="Phone Number" name="phoneNumber" (valueChange)="handleInputChange('phone_number', $event)">
      </app-input>
      <app-select class="register-container__form__details-container__general-details__input-field"
        [options]="optionArrays.genderList" label="Sex" name="sex" (valueChange)="handleInputChange('sex', $event)">
      </app-select>
    </div>
  </div>
</ng-template>

<!-- Proof of rights details template -->
<ng-template #proofOfRightsDetails>
  <div class="register-container__form__details-container">
    <div class="register-container__form__details-container__heading-container d-flex justify-content-between pb-5 pt-2"
      (click)="proofOfRightsDetailsVisibility()">
      <div class="register-container__form__details-container__heading-container__label d-flex">
        <ng-container *ngTemplateOutlet="backgroundSquare; context: { label: '3' }"></ng-container>
        <div>Proof of rights to do coaching</div>
      </div>
      <ng-container *ngTemplateOutlet="
        backgroundSquare;
        context: { label: showProofOfRightsDetails ? '⬇' : '➡' }
      "></ng-container>
    </div>
    <div [class.expandDropdown]="showProofOfRightsDetails" [class.expand]="showProofOfRightsDetails"
      [class.expandProofOfRights]="showProofOfRightsDetails"
      class="register-container__form__details-container__general-details d-flex justify-content-center align-content-start gr-2">
      <div class="register-container__form__details-container__general-details__inform-message-container d-flex">
        <div class="register-container__form__details-container__general-details__inform-message-container__message">
          <p>
            As a trainer, provide proof of qualifications, certifications or
            licenses via documents or social media links.
          </p>
          <p>
            <strong> Press the plus button to add your documents or links</strong>
          </p>
        </div>
        <div
          class="register-container__form__details-container__general-details__inform-message-container__button-container align-self-center "
          (click)="toggleDropDownMenu()">
          <div>+</div>
          <div [class]="showDropDownMenu ? 'fadeIn' : 'fadeOut' "
            class="register-container__form__details-container__general-details__inform-message-container__button-container__menu">
            <div (click)="attachLink = true"
              class="register-container__form__details-container__general-details__inform-message-container__button-container__menu__item">
              Link
            </div>
            <div (click)="attachDocument = true"
              class="register-container__form__details-container__general-details__inform-message-container__button-container__menu__item">
              Document
            </div>
          </div>
        </div>
      </div>
      <div class="register-container__form__details-container__general-details__link-container d-flex"  [class]="attachLink ? 'fadeIn' : 'fadeOut' ">
          <app-input class="register-container__form__details-container__general-details__input-field" label="Link Url"
            [type]="InputType.Url" placeholder="Link Url" name="linkUrl">
          </app-input>
          <app-input [class.fadeIn]='attachLink' class="register-container__form__details-container__general-details__input-field"
            label="Link Url 2" [type]="InputType.Url" placeholder="Link Url 2" name="linkUrl2">
          </app-input>
      </div>
        <app-input  [class]="attachDocument ? 'fadeIn' : 'fadeOut' " class="register-container__form__details-container__general-details__input-field"
          label="Attach Document" [type]="InputType.File" placeholder="Attach Document" name="attachDocument">
        </app-input>
    </div>
  </div>

</ng-template>

<!-- Form footer template -->
<ng-template #formFooter>
  <div>
    <div class="register-container__form__elements__buttons">
      <app-button class="landing-page-container__buttons-container__button mb-20" text="Sign In"
        [width]="'100%'" [hoverBackgroundColor]="'main-background-color'" [hoverTextColor]="'main-blue-darker-color'" (click)="register()">
      </app-button>
    </div>
    <div class="register-container__form__links d-flex flex-direction-column">
      <a class="register-container__form__links-text" href="/login">Already have an account? Log in</a>
    </div>
    <app-error *ngIf="hasRegisterError" [errorMessageText]="registerErrorMsg"></app-error>
  </div>
</ng-template>

<ng-template #backgroundSquare let-label="label">
  <div class="background-square-container d-flex justify-content-center align-items-center">
    {{ label }}
  </div>
</ng-template>
