<section class="exercise-details__container">
    <img class="exercise-details__img" src="" alt="">

    <section class="exercise-details-text__container">
        <h1 class="exercise-details-text__tag__heading"></h1>
        <div class="exercise-details-text__tags__container">
            <h1 class="exercise-details-text__tag"></h1>
            <h1 class="exercise-details-text__tag"></h1>
        </div>

        <h1 class="exercise-details__description__heading"></h1>
        <div class="exercise-details__description__container">
            <!-- create a ngFor loop that will loop through data from backend (likely array) to detail exercise steps -->
        </div>
    </section>
</section>
