.button {
    display: inline-block;
    width: width;
    background-color: #475f93;
    color: #eceef3;
    text-transform: uppercase;
    text-align: center;
    border: none;
    padding: .6rem;
    font-size: .9rem;
    margin-bottom: .5rem;
    font-weight: 600;
    transition: all 0.4s;

    &:hover {
        cursor: pointer;
        color: var(--hoverTextColor);
        background-color: var(--hoverBackgroundColor);
        transform: scale(1.1);
    }
}