.button {
    display: inline-block;
    background-color: #475f93;
    color: #eceef3;
    text-align: center;
    border: none;
    padding: 0.6rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    transition: all 0.4s;

    &:hover {
        cursor: pointer;
        color: #475f93;
        background-color: #eceef3;
        transform: scale(1.1);
    }
}