@use "../../../shared/styles/palette";

.button {
    display: inline-block;
    background-color: palette.$main-blue-darker-color;
    color: palette.$main-background-color;
    text-align: center;
    border: none;
    padding: 0.6rem;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.4s;

    &:hover {
        cursor: pointer;
        color: var(--hoverTextColor);
        background-color: var(--hoverBackgroundColor);
        transform: scale(1.1);
    }
}
.border-hover:hover {
    outline: 0.1rem solid var(--hoverBorderColor);
}