@import '../../../../shared/styles/palette';

.search__feature {
    justify-content: space-between;
    position: relative;

    &__container {
        position: relative;
        width: 100%;
    }

    &__input {
        all: unset;
        
        background-color: #fff;
        border-radius: .3rem;
        width: 95%;
        padding: 0.4rem;
    }

    &__search__icon {
        position: absolute;
        font-size: 1.3rem;
        right: 5%;
        color: $main-blue-color;
    }

    &__filter__icon {
        font-size: 1.8rem;
        color: $main-blue-color;
        cursor: pointer;
    }

    &__filter__form {
        position: absolute;
        right: 2rem;;
        top: 3rem;
        background-color: $main-font-white-color;
        outline: 1px solid $main-blue-color;
        // display: none;
    }
}

@media(max-width: 600px) {
    .search__feature {
        width: 100%;
    }
}

@media(min-width: 671px) {
    .search__feature__container {
        width: 15rem;
    }
}