<section class="search-feature d-flex align-items-center g-3 pb-5">
    <section class="search-feature__container d-flex">
        <div class="search-feature__container-input">
            <input
              class="search-feature__container-input-field"
              type="text"
              placeholder="Search..."
              aria-placeholder=""
              (input)="onSearchChange($event)"
            >
            <span class="material-symbols-outlined search-feature__container-input-search-icon align-self-center" (click)="search()">search</span>
        </div>
        <span (click)=filterHandler() class="material-symbols-outlined search-feature__container-filter-icon">filter_alt</span>
    </section>


    <form *ngIf="toggleFilterForm" class="search-feature__filter-form pr-10 pl-2 py-2">
        <ng-container *ngFor="let tag of tags">
          <div class="search-feature__filter-form-option d-flex my-1 justify-content-start g-2">
            <input type="checkbox" (change)="onTagSelectChange($event, tag)">
            <label>{{ tag.name }}</label>
          </div>
        </ng-container>
    </form>

</section>
