<!-- pb-5 is put for development purposes. will see if it will remain like so -->
<section class="search-feature d-flex align-items-center g-3 pb-5">
    <section class="search-feature__container d-flex">
        <div class="search-feature__container-input">
            <input class="search-feature__container-input-field" type="search" placeholder="Search..." aria-placeholder="">
            <span class="material-symbols-outlined search-feature__container-input-search-icon align-self-center">search</span>
        </div>
        <span (click)=filterHandler() class="material-symbols-outlined search-feature__container-filter-icon">filter_alt</span>
    </section>


    <form *ngIf="toggleFilterForm" class="search-feature__filter-form pr-10 pl-2 py-2">
        <div class="search-feature__filter-form-option d-flex my-1 justify-content-start g-2">
            <input type="checkbox">
            <label>Gym</label>
        </div>

        <div class="search-feature__filter-form-option d-flex justify-content-start my-1 g-2">
            <input type="checkbox">
            <label for="">Back</label>
        </div>
    </form>

</section>