@use '../../../../shared/styles/palette';
@use '../../../../shared/styles/mixins';

.exercise__details__description__heading {
    color: palette.$main-blue-color;
}

.exercise__details__instructions__list {
    list-style-type: none;

    &__item {
        color: palette.$menu-container-icon-color;
    }
}

.exercise__details__container {
    display: flex;
    gap: 2rem;

    @include mixins.respond(Phone) {
        all: unset
    }
}

.exercise__details__img {
    width: 40%;
    object-fit: cover;
    object-position: left;
    border: 1px solid palette.$main-blue-color;
    border-radius: 0.2rem;

    @include mixins.respond(Phone) {
        width: 100%;
        border: 0.1rem solid black;
        border-radius: 0.3rem;
    }
}

.exercise__details__text__container {
    width: 50%;

    @include mixins.respond(Phone) {
        all: unset
    }
}