<section class="exercise__details__container">
    <img class="exercise__details__img" src="../../../../shared/assets/images/temporary-exercise-list-placeholder-img.png" alt="">

    <section class="exercise__details__text__container">
        <h1 class="exercise__details__text__tag__heading mb-2">Tags</h1>
        <div class="exercise__details__tags__container d-flex g-2 mb-4">
            <app-tag text="GYM" backgroundColor="dark-grey"></app-tag>
            <app-tag  text="BACK" backgroundColor="dark-grey"></app-tag>
        </div>

        <h1 class="exercise__details__description__heading mb-2">Description</h1>
        <div class="exercise__details__description__container">
            <!-- create a ngFor loop that will loop through data from backend (likely array) to detail exercise steps -->
             <ul class="exercise__details__instructions__list" *ngFor="let instruction of exerciseInstructions; index as i">
                <li class="exercise__details__instructions__list__item">{{i + 1}}. {{instruction}}</li>
             </ul>
        </div>

        <div class="exercise__details__btns__container d-flex g-2 justify-content-center mt-6">
            <!-- <app-button text="Edit" padding="0.25rem 3rem" [width]="'auto'"></app-button>
            <app-button text="Delete" padding="0.25rem 2rem" [width]="'auto'"></app-button> -->
            <button class="btn w-auto edit-btn">
              Edit
            </button>
            <button class="btn w-auto delete-btn">
              Delete
            </button>
        </div>
    </section>
</section>
