@use "../../../shared/styles/palette";

.background-square-container {
    width: 2rem;
    height: 2rem;
    background-color: palette.$main-blue-darker-color;
    color: white;
    font-size: 1.2rem;
}

@media (width < 700px) {
    .background-square-container {
        width: 1.5rem;
        height: 1.5rem;
        background-color: palette.$main-blue-darker-color;
        color: white;
        font-size: 0.8rem;
    }
}
