@use "./palette";
@use "./mixins";

.btn {
  display: inline-block;
  background-color: palette.$main-blue-darker-color;
  color: palette.$main-background-color;
  text-align: center;
  border: none;
  padding: 0.6rem 0;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.4s;

  &:hover {
    cursor: pointer;
    color: palette.$main-blue-darker-color;
    background-color: palette.$main-background-color;
    transform: scale(1.1);
  }
}

.border-hover:hover {
  outline: 0.2rem solid palette.$main-blue-darker-color;
}

.btn-small {
  padding: 0.5rem 0;
}

.btn-medium {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.btn-large {
  padding: 0.5rem 2.3rem 0.5rem 2.3rem;
}

.btn-full-width-mobile {
  @include mixins.respond(Phone) {
    width: 100%;
  }
}
