/* Small fonts */
$font-1: 0.5rem;
$font-2: 1rem;
$font-3: 1.5rem;
$font-4: 2rem;
$font-5: 2.5rem;
$font-6: 3rem;
$font-7: 3.5rem;
$font-8: 4rem;

/* Large texts */
$display-4: 10rem;
$display-3: 8rem;
$display-2: 6rem;
$display-1: 5rem;
