$breakpoints: (
  Phone: 37.5rem,
  Tablet: 75rem,
  Big-Desktop: 112.5rem,
  Landscape: 58rem
);

@mixin respond($breakpoint) {
    $query: null;

    @if map-has-key($breakpoints, $breakpoint) {
        $query: map-get($breakpoints, $breakpoint);
    }

    @else {
        $query: $breakpoint;
    }

    @if ($breakpoint == 'Landscape') {
        @media (max-height: $query) {
            @content;
        }
    }

    @else {
        @media (max-width: $query) {
            @content;
        }
    }
}