@use "../../shared/styles/palette";
@use "../../shared/styles/mixins";
.custom-dropdown {
  .multiselect-dropdown {
    width: 92% !important;

    .dropdown-btn {
      background-color: palette.$main-background-color;
      color: palette.$main-blue-darker-color;
      border: 0 !important;
      padding-right: 0 !important;
      margin-top: 0.2rem !important;
      border-radius: 0 !important;
      border-bottom: 0.3rem solid palette.$main-blue-darker-color !important;
      padding: 0.6rem 0.6rem !important;
      font-size: 0.8rem !important;

      .selected-item {
        background-color: palette.$main-blue-darker-color !important;
      }

      span {
        .dropdown-multiselect__caret {
          padding: 0 !important;
          border-color: #ff1c1c transparent !important;
          top: 10% !important;
          left: 89% !important;
          margin-left: 0.8rem !important;
        }
      }
    }

    .dropdown-list {
      background-color: palette.$main-background-color;
      padding-top: 0 !important;
      border-radius: 0 !important;
      color: palette.$main-blue-darker-color;

      .item2 {
        max-height: 12rem !important;
      }
    }
  }
}
