$main-blue-color: #4f69a1;
$main-blue-darker-color: #475f93;
$main-blue-lighter-color: #a1bcf5;
$main-font-white-color: #ffffff;
$main-font-black-color: #161a1d;
$main-background-color: #eceef3;

//FOOTER COLORS
$menu-container-icon-color: #808080;
$menu-container-background-color: #fff;
$menu-container-navigation-item-background-color: rgb(191, 204, 216);