$main-blue-color: #4f69a1;
$main-blue-darker-color: #475f93;
$main-font-white-color: #ffffff;
$main-font-black-color: #161a1d;
$main-background-color: #eceef3;

//FOOTER COLORS
$footer-icon-color: grey;
$footer-background-color: #fff;
$footer-navigation-item-background-color: rgb(191, 204, 216);