<div class="card-container pt-5 position-relative" [ngStyle]="{'--background-url': 'url(' + imageUrl + ')'}">
    <p class="card-container__workout-name mt-0 uppercase">Weight Loss</p>
    <p class="card-container__workout-trainer">Mihael</p>

    <div class="card-container__difficulty d-flex g-4 align-items-center">
        <p class="card-container__difficulty-text">
            Beginner
        </p>
        <div class="card-container__difficulty-stars">
            <span class="card-container__difficulty-stars-star material-symbols-outlined">
                star
            </span>
            <span class="card-container__difficulty-stars-star material-symbols-outlined">
                star
            </span>
            <span class="card-container__difficulty-stars-star material-symbols-outlined">
                star
            </span>
            <span class="card-container__difficulty-stars-star material-symbols-outlined">
                star
            </span>
            <span class="card-container__difficulty-stars-star material-symbols-outlined">
                star
            </span>
        </div>
    </div>
    <div class="card-container__tags d-flex g-2">
        <span class="card-container__tags-tag">GYM</span>
        <span class="card-container__tags-tag">GYM</span>
        <span class="card-container__tags-tag">GYM</span>
    </div>
    <span class="card-container__add-btn align-items-center d-flex justify-content-center material-symbols-outlined">
        add
    </span>
</div>