<div class="card-container">
    <p class="card-container__workout-name">Weight Loss</p>
    <p class="card-container__workout-trainer">Mihael</p>

    <div class="card-container__difficulty">
        <p class="card-container__difficulty-text">
            Beginner
        </p>
        <div class="card-container__difficulty-stars">
            <span class="card-container__difficulty-stars-star material-symbols-outlined">
                star
            </span>
            <span class="card-container__difficulty-stars-star material-symbols-outlined">
                star
            </span>
            <span class="card-container__difficulty-stars-star material-symbols-outlined">
                star
            </span>
            <span class="card-container__difficulty-stars-star material-symbols-outlined">
                star
            </span>
            <span class="card-container__difficulty-stars-star material-symbols-outlined">
                star
            </span>
        </div>
    </div>
    <div class="card-container__tags">
        <span class="card-container__tags-tag">GYM</span>
        <span class="card-container__tags-tag">GYM</span>
        <span class="card-container__tags-tag">GYM</span>
    </div>
    <span class="card-container__add-btn material-symbols-outlined">
        add
    </span>
</div>