<div class="profile-container__cards-heading">
    <h2>Most Rated Workouts</h2>
</div>
<div class="profile-container__cards-flex-container">
    <div class="profile-container__cards-flex-container-row">
        <app-card class="profile-container__cards-grid-container-item"></app-card>
        <app-card class="profile-container__cards-grid-container-item"></app-card>
        <app-card class="profile-container__cards-grid-container-item"></app-card>
    </div>
    <div class="profile-container__cards-flex-container-row">
        <app-card class="profile-container__cards-grid-container-item"></app-card>
        <app-card class="profile-container__cards-grid-container-item"></app-card>
        <app-card class="profile-container__cards-grid-container-item"></app-card>
    </div>
</div>