<div class="profile-container__cards-heading">
    <h2>Most Rated Workouts</h2>
</div>
<div class="profile-container__cards-grid-container">
    <app-card class="profile-container__cards-grid-container-odd"></app-card>
    <app-card class="profile-container__cards-grid-container-even"></app-card>
    <app-card class="profile-container__cards-grid-container-odd"></app-card>
    <app-card class="profile-container__cards-grid-container-even"></app-card>
    <app-card class="profile-container__cards-grid-container-odd"></app-card>
    <app-card class="profile-container__cards-grid-container-even"></app-card>
</div>