<div class="card d-flex align-items-center">
  <img class="card__img" src="../../../shared/assets/images/temporary-exercise-list-placeholder-img.png" alt="" />
  <div class="card__information">
    <div class="card__information__header">
      <h2 class="card__information__header__heading">Dumbbell Chest Press</h2>
      <p class="card__information__header__sets">4 x 10</p>
      <div class="card__information__header__tags d-flex g-3">
        <app-tag text="Gym" [backgroundColor]="'dark-grey'"></app-tag>
        <app-tag text="Back" [backgroundColor]="'dark-grey'"></app-tag>
      </div>
    </div>
    <p class="card__information__text">
      Description for the exercise from the trainer, if there is no description
      from the trainer system exercise description will be visualized here
    </p>
  </div>
  <div class="card__icon">
    <span class="material-symbols-outlined">
        arrow_forward_ios
        </span>
  </div>
</div>
