@use "../../../shared/styles/palette";
@use "../../../shared/styles/mixins";

.card {
  background-color: white;
  border-radius: 0.8rem;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.049);
  cursor: pointer;
  transition: all 0.4s;

  @include mixins.respond(Phone) {
    max-width: 100%;
    background-color: transparent;
    height: 4.5rem;
    padding: 0.2rem;
    box-shadow: none;
    justify-content: space-between;
  }

  &:hover {
    transform: scale(1.02);
  }

  &__img {
    width: auto;
    height: 6rem;
    @include mixins.respond(Phone) {
      height: 100%;
      width: auto;
    }
  }

  &__information {
    padding: 1rem;

    @include mixins.respond(Phone) {
      padding: 0.5rem;
    }

    &__header {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 0.5rem;

      &__heading {
        @include mixins.respond(Phone) {
          font-size: 0.8rem;
        }
      }

      &__tags {
        @include mixins.respond(Phone) {
          display: none;
        }
      }

      @include mixins.respond(Phone) {
        flex-direction: column;
        gap: 0;
      }

      &__sets {
        color: grey;
        font-weight: 600;
        font-size: 1.2rem;

        @include mixins.respond(Phone) {
          font-size: 0.8rem;
          margin-right: 6rem;
        }
      }
    }

    &__text {
      font-size: 1.1rem;

      @include mixins.respond(Phone) {
        font-size: 0;
      }
    }

    &__tags {
      display: flex;
      gap: 0.5rem;
    }
  }

  &__icon {
    align-items: center;
    padding: 0.5rem;

    span {
      font-size: 3rem;
      color: palette.$main-blue-color;
      transition: all 0.2s;

      &:hover {
        transform: scale(1.2);
      }

      @include mixins.respond(Phone) {
        font-size: 2rem;
        margin-left: 4rem;
      }
    }
  }
}
