@use "../../../shared/styles/mixins";
@use "../../../shared/styles/palette";
@use "../../../shared/styles/scrollbar";

.exercise-library {

  @include mixins.respond(Phone) {
    margin-bottom: 3rem;
  }

  &__header {
    display: block;
    padding-bottom: 0.5rem;

    @include mixins.respond(Phone) {
      display: none;
    }
  }

  &__cards-flex-container {
    display: flex;
    width: 95%;
    overflow-y: scroll;
    max-width: 100%;
    flex-wrap: wrap;

    @include scrollbar.scrollbar();

    @include mixins.respond(Phone) {
      display: unset;
      width: 100%;
      max-height: 70vh; //Scroll
      overflow-y: auto;
      -ms-overflow-style: none;
      /* Internet Explorer 10+ */
      scrollbar-width: none;
      /* Firefox */
      justify-content: center;

      &::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
      }
    }
  }
}
