@use "../../../shared/styles/palette";

.link {
    transition: all 0.4s;
    display: inline-block;
    
    &:link,
    &:visited {
        color: palette.$main-blue-darker-color;
        text-decoration: none;
        font-weight: 700;
        font-size: 0.8rem;
    }

    &:hover {
        transform: scale(1.03);
    }

    &:active {
        transform: translate(0);
    }
}