@import "../styles/_palette";
@import "../styles/utilities";

* {
    margin: 0;
    padding: 0;
}

.footer__navigation__item {
    list-style-type: none;
}

.footer__navigation__link {
    font-size: 1.25rem;
    font-weight: 100;
    color: $footer-icon-color;
}

.footer__navigation__icon {
    color: $footer-icon-color;
}

.footer {
    width: 100%;
    position: fixed;
    background-color: $footer-background-color;
}

.workouts__icon {
    transform: rotate(45deg);
}

.builders__icon {
    transform: rotate(270deg)
}

@media (max-width: 600px) {
    .footer {
        bottom: 0;
        left: 0;
    }

    .footer__navigation__icon {
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }   
}

@media (min-width: 601px) {
    .footer {
        width: fit-content;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .footer__navigation {
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        padding-top: 8rem;
    }

    .footer__navigation__item {
        display: flex;
        background-color: $footer-navigation-item-background-color;
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer__navigation__icon {
        font-size: 1.5rem;
    }
}