<footer>
    <ul *ngIf="isAuth" class="d-flex justify-content-between align-items-center">

        <li class="workouts">
            <span><i class="fa-solid fa-dumbbell"></i></span>
            <a href="">Workouts</a>
        </li>

        <li class="exercises">
            <span><i class="fa-regular fa-newspaper"></i></span>
            <a href="">Exercises</a>
        </li>

        <li class="builders">
            <span><i class="fa-solid fa-wrench"></i></span>
            <a href="">Builders</a>
        </li>

    </ul>
</footer>