<footer>
    <ul class="d-flex justify-content-between align-items-center">
        
        
        <li class="workouts">
            <span><i class="fa-solid fa-dumbbell"></i></span>
            <h3>Workouts</h3>
        </li>
        
        <li class="exercises">
            <span><i class="fa-regular fa-newspaper"></i></span>
            <h3>Exercises</h3>
        </li>

        <li class="builders">
            <span><i class="fa-solid fa-wrench"></i></span>
            <h3>Builders</h3>
        </li>

    </ul>

</footer>