<footer class="footer">
    <ul *ngIf="isAuth" class="d-flex justify-content-between align-items-center footer__navigation">

        <!-- TODO: we can later on wrap the span inside the a tag just so the icon in footer is clickable too -->

        <li class="workouts footer__navigation__item p-4 g-5">
            <span class="footer__navigation__icon workouts__icon"><i class="fa-solid fa-dumbbell"></i></span>
            <a class="footer__navigation__link" href="">Workouts</a>
        </li>

        <li class="exercises footer__navigation__item p-4 g-5">
            <span class="footer__navigation__icon"><i class="fa-regular fa-newspaper"></i></span>
            <a class="footer__navigation__link" href="">Exercises</a>
        </li>

        <li class="builders footer__navigation__item p-4 g-5">
            <span class="footer__navigation__icon builders__icon"><i class="fa-solid fa-wrench"></i></span>
            <a class="footer__navigation__link" href="">Builders</a>
        </li>

    </ul>
</footer>