@import "../styles/_palette";

* {
    margin: 0;
    padding: 0;
}

li {
    padding: 1rem;
    list-style-type: none;
}

a {
    font-size: 1.25rem;
    font-weight: 100;
    margin-top: .2rem;
}

footer {
    width: 100%;
    position: fixed;
    background-color: #fff;
}

.workouts span {
    transform: rotate(45deg);
}

.builders span {
    transform: rotate(270deg)
}

@media (max-width: 600px) {
    footer {
        bottom: 0;
        left: 0;
    }

    span {
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }
}

@media (min-width: 601px) {
    footer {
        width: fit-content;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    ul {
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        padding-top: 7rem;
    }

    li {
        display: flex;
        gap: 1.25rem;
    }

    li span {
        font-size: 1.5rem;
    }
}