@import "../styles/palette";
@import "../styles/utilities";

h1 {
    color: $main-blue-darker-color;
    margin-left: $spacing-6;
    font-size: 2rem;
}

.auth {
    color: $main-font-white-color;
}

.authenticated {
    a {
        color: $main-blue-darker-color;
        margin: 0 $spacing-3;
        font-size: 1.2rem;
    }

    a:nth-child(2) {
        margin-right: $spacing-6;
    }

    h1 {
        color: $main-blue-darker-color;
    }
}

@media (min-width: 601px) {
    .mobile {
        display: none;
    }

    // nav {
    //     background-color: $main-blue-color;
    //     .desktop-white {
    //         color: $main-font-white-color;
    //     }

    // }

    .isAuth {
        background-color: $main-blue-color;
        .desktop-white {
            color: $main-font-white-color;
        }
    }
}

@media (max-width: 600px) {
    .desktop {
        display: none;
    }

    .menu {
        color: $main-blue-darker-color;
    }
}

// auth user
.menu {
    margin-right: $spacing-6;
    transform: rotate(90deg);
    font-size: 2rem;
}

.username {
    margin-right: $spacing-5;
}