<!-- TODO: optimize nav layout, so as to not repeat nav tag, but keep both ng-containers inside one nav -->

<nav class="d-flex align-items-center justify-content-between nav__guest"> 

    <ng-container *ngIf="!isAuth">
        <h1 class="uppercase nav__guest__mobile nav__guest__logo ml-6">ath</h1>
        <h1 class="uppercase nav__guest__desktop nav__guest__logo ml-6">athleans | fit</h1>

        <section class="nav__guest__btn mr-6">
            <a class="nav__guest__btn__link" href="">Register</a>
            <a class="nav__guest__btn__link ml-4" href="">Login</a>
        </section>
    </ng-container>
</nav>

<nav class="d-flex align-items-center justify-content-between nav__user"> 

    <ng-container *ngIf="isAuth">
        <h1 class="uppercase nav__user__mobile nav__user__logo ml-6">ath</h1>
        <h1 class="uppercase nav__user__desktop nav__user__desktop-white nav__user__logo ml-6">athleans | fit</h1>

        <h3 class="nav__user__mobile">page name</h3>
        <h3 class="nav__user__menu__btn nav__user__mobile">...</h3>

   
        <h2 class="mr-5 nav__user__desktop ml-auto nav__user__desktop-white">Username</h2>
        <h3 class="nav__user__menu__btn nav__user__desktop nav__user__desktop-white mr-6">|||</h3>
    </ng-container>
    
</nav>