<div class="profile-container">

    <h1 class="profile-container__main-heading">Profile</h1>

    <div class="profile-container__img-container pt-4">
        <img class="profile-container__img-container-img"
            src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="Img">
        <span><i class="profile-container__img-container-icon material-icons">photo_camera</i></span>
    </div>

    <p class="profile-container__profile-name">Mihael Pavlov</p>

    <div class="profile-container__tags d-flex g-2 justify-content-center">
        <app-tag text="Gym"></app-tag>
        <app-tag text="Back"></app-tag>
        <app-tag text="Legs"></app-tag>
    </div>

    <div class="profile-container__inforamtion-container d-flex justify-content-center g-4">
        <div class="profile-container__inforamtion-container-box">
            <p class="profile-container__inforamtion-container-box-data">18</p>
            <p class="profile-container__inforamtion-container-box-label">BMI</p>
        </div>
        <div class="profile-container__inforamtion-container-box">
            <p class="profile-container__inforamtion-container-box-data">100</p>
            <p class="profile-container__inforamtion-container-box-label">Total Workouts</p>
        </div>
        <div class="profile-container__inforamtion-container-box">
            <p class="profile-container__inforamtion-container-box-data">90</p>
            <p class="profile-container__inforamtion-container-box-label">Weight</p>
        </div>
        <div class="profile-container__inforamtion-container-box">
            <p class="profile-container__inforamtion-container-box-data">100</p>
            <p class="profile-container__inforamtion-container-box-label">Weight Goal</p>
        </div>
    </div>

    <div class="profile-container__level-container d-flex flex-direction-column align-items-center">
        <p class="profile-container__level-container-level">Intermediate</p>
        <p class="profile-container__level-container-label">Fitness Level</p>
    </div>

    <!-- <app-profile-form></app-profile-form> -->
    <app-profile-cards></app-profile-cards>
</div>