<div class="profile-container">

    <h1 class="profile-container__main-heading pt-8">Profile</h1>

    <ng-template [ngIf]="profileState === 'public'">
        <div class="profile-container__public-btn">
            <app-button text="Subscribe" padding="0.8rem 5rem" [hoverTextColor]="'main-blue-darker-color'"
                [hoverBackgroundColor]="'white'" [showBorderOnHover]="true"
                [hoverBorderColor]="'main-blue-darker-color'" [width]="'auto'">
            </app-button>
        </div>
    </ng-template>

    <div class="profile-container__img-container pt-4">
        <img class="profile-container__img-container-img"
            src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="Img">
        <span><i class="profile-container__img-container-icon-private material-icons">photo_camera</i></span>
        <!--<span class="profile-container__img-container-icon-public material-symbols-outlined">chat</span>-->
    </div>

    <p class="profile-container__profile-name mb-3">Mihael Pavlov</p>

    <div class="profile-container__tags d-flex g-2 justify-content-center mb-3">
        <app-tag text="Gym"></app-tag>
        <app-tag text="Back"></app-tag>
        <app-tag text="Legs"></app-tag>
    </div>

    <div class="profile-container__inforamtion-container d-flex justify-content-center g-4 mb-3">
        <div class="profile-container__inforamtion-container-box">
            <p class="profile-container__inforamtion-container-box-data">18</p>
            <p class="profile-container__inforamtion-container-box-label">BMI</p>
        </div>
        <div class="profile-container__inforamtion-container-box">
            <p class="profile-container__inforamtion-container-box-data">100</p>
            <p class="profile-container__inforamtion-container-box-label">Total Workouts</p>
        </div>
        <div class="profile-container__inforamtion-container-box d-flex flex-direction-column align-items-center">
            <p class="profile-container__inforamtion-container-box-data-level">Intermediate</p>
            <p class="profile-container__inforamtion-container-box-label">Fitness Level</p>
        </div>
        <div class="profile-container__inforamtion-container-box">
            <p class="profile-container__inforamtion-container-box-data">90</p>
            <p class="profile-container__inforamtion-container-box-label">Weight</p>
        </div>
        <div class="profile-container__inforamtion-container-box">
            <p class="profile-container__inforamtion-container-box-data">100</p>
            <p class="profile-container__inforamtion-container-box-label">Weight Goal</p>
        </div>
    </div>

    <ng-template [ngIf]="profileState === 'public'">
        <app-profile-cards></app-profile-cards>
    </ng-template>

    <ng-template [ngIf]="profileState === 'private'">
        <app-profile-form></app-profile-form>
    </ng-template>
</div>