@use "../../../shared/styles/palette";

.profile-container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;

    &__public-btn {
        text-align: end;
    }

    &__main-heading {
        color: palette.$main-font-black-color;
        text-align: start;
        padding-top: 3rem;
    }

    &__img-container {
        text-align: center;
        position: relative;

        &-img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            box-shadow: 0 0.1rem 0.1rem rgba($color: palette.$main-font-black-color, $alpha: 0.5);
        }

        &-icon-private {
            background-color: rgb(255, 255, 255);
            position: absolute;
            top: 75%;
            left: 53%;
            border-radius: 50%;
            padding: 0.5rem;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.2);
            }
        }

        &-icon-public {
            color: palette.$main-blue-darker-color;
            position: absolute;
            top: 111%;
            left: 57.5%;
            border-radius: 50%;
            padding: 0.5rem;
            cursor: pointer;
            transition: all 0.5s;
            transform: scale(1.4);

            &:hover {
                transform: scale(1.6);
            }
        }
    }

    &__profile-name {
        text-align: center;
        font-size: 1.4rem;
        color: palette.$main-blue-darker-color;
        font-weight: 600;
        padding-top: 0.2rem;
    }

    &__inforamtion-container {
        padding-top: 0.4rem;

        &-box {
            &-data {
                text-align: center;
                font-size: 1.1rem;
                color: palette.$main-blue-darker-color;
                font-weight: 700;

                &-level {
                    font-size: 1.1rem;
                    color: palette.$main-blue-darker-color;
                    font-weight: 700;
                    margin: 0 1rem;
                }
            }

            &-label {
                color: palette.$main-font-black-color;
                font-weight: 700;
            }
        }
    }
}

//Smaller Laptops
@media (max-width: 62.5em) {
    .profile-container {
        &__img-container {
            &-icon-public {
                left: 60%;
            }
        }
    }
}

//Tablets
@media (max-width: 53em) {
    .profile-container {
        &__img-container {
            &-icon-private {
                left: 55%;
            }

            &-icon-public {
                left: 61%;
            }
        }
    }
}


@media (max-width: 37.5em) {
    .profile-container {
        &__main-heading {
            text-align: center;
            padding-top: 1.5rem;
        }

        &__img-container {
            &-icon-private {
                left: 58%;
            }

            &-icon-public {
                left: 66%;
            }
        }

        &__inforamtion-container {
            &-box {
                &-data {
                    text-align: center;
                    font-size: 1rem;

                    &-level {
                        font-size: 1rem;
                        margin: 0 0.2rem;
                    }
                }

                &-label {
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width:34em) {
    .profile-container {
        &__img-container {
            &-icon-private {
                left: 59%
            }
        }

        &__inforamtion-container {
            &-box {
                &-data {
                    text-align: center;
                    font-size: 0.8rem;

                    &-level {
                        font-size: 0.8rem;
                        margin: 0 0.2rem;
                    }
                }

                &-label {
                    font-size: 0.8rem;
                    text-align: center;
                }
            }
        }
    }
}

//Bigger Phones
@media (max-width: 28.75em) {
    .profile-container {
        &__img-container {
            &-icon-private {
                left: 65%;
            }

            &-icon-public {
                left: 73%;
            }
        }

        &__main-heading {
            margin-bottom: 1.3rem;
            text-align: center;
        }

        &__public-btn {
            text-align: center;
        }
    }
}

//Smaller Phones
@media (max-width: 28.75em) {
    .profile-container {
        &__img-container {
            &-icon-public {
                left: 76%;
            }
        }

        &__inforamtion-container {
            &-box {
                &-label {
                    font-size: 0.7rem;
                }
            }
        }
    }
}