<div class="profile-container">
  <h1 class="profile-container__main-heading">Profile</h1>

  <ng-container *ngIf="this.profileState !== 'public'; else subscribeBtn"></ng-container>

  <div class="profile-container__img-container pt-4">
    <img class="profile-container__img-container-img"
      [src]="currentProfilePictureUri || user?.profilePicture"
      alt="Img" />
    <label *ngIf="profileState === 'private'" for="profilePicture"><i
        class="profile-container__img-container-icon-private material-icons">photo_camera</i>
    </label>
    <input
      *ngIf="profileState === 'private'"
      class="d-none"
      type="file"
      id="profilePicture"
      name="profilePicture"
      (change)="onProfilePictureChange($event)"
    />

    <span *ngIf="profileState === 'public'"
      class="profile-container__img-container-icon-public material-symbols-outlined" (click)="navigateToChat()">chat</span>
  </div>

  <p class="profile-container__profile-name mb-3">{{user?.firstName}} {{user?.lastName}}</p>

  <div class="profile-container__tags d-flex g-2 justify-content-center mb-3">
    <ng-container *ngFor="let tag of user?.preferences?.split(',')">
      <app-tag text="{{tag}}"></app-tag>
    </ng-container>
  </div>

  <div class="profile-container__inforamtion-container d-flex justify-content-evenly mb-3">
    <div class="profile-container__inforamtion-container-box">
      <p class="profile-container__inforamtion-container-box-data">{{user?.BMI}}</p>
      <p class="profile-container__inforamtion-container-box-label">BMI</p>
    </div>
    <div class="profile-container__inforamtion-container-box">
      <p class="profile-container__inforamtion-container-box-data">{{user?.workoutCount}}</p>
      <p class="profile-container__inforamtion-container-box-label">
        Total Workouts
      </p>
    </div>
    <div class="profile-container__inforamtion-container-box d-flex flex-direction-column align-items-center">
      <p class="profile-container__inforamtion-container-box-data-level">
        {{user?.fitnessLevel}}
      </p>
      <p class="profile-container__inforamtion-container-box-label">
        Fitness Level
      </p>
    </div>
    <div class="profile-container__inforamtion-container-box">
      <p class="profile-container__inforamtion-container-box-data">{{user?.weight}}</p>
      <p class="profile-container__inforamtion-container-box-label">Weight</p>
    </div>
    <div class="profile-container__inforamtion-container-box">
      <p class="profile-container__inforamtion-container-box-data">{{user?.weightGoal}}</p>
      <p class="profile-container__inforamtion-container-box-label">
        Weight Goal
      </p>
    </div>
  </div>

  <ng-container *ngIf="this.profileState == 'public'; then public; else private"></ng-container>
</div>

<ng-template #public>
  <app-profile-card-list [workouts]="workouts" [isUser]="!profileContributorId"></app-profile-card-list>
</ng-template>

<ng-template #private>
  <app-profile-form [user]="user" [profilePictureFile]="profilePictureFile"></app-profile-form>
</ng-template>

<ng-template #subscribeBtn>
  <div class="profile-container__public-btn">
    <button *ngIf="!isSubscribed && visitorRole !== 1" class="btn w-auto sub-btn" (click)="onSubscribe()">
      Subscribe
    </button>
    <button *ngIf="isAuth && isSubscribed && visitorRole !== 1" class="btn w-auto sub-btn" (click)="onUnsubscribe()">
      Unsubscribe
    </button>
  </div>
</ng-template>
